# macOS
.DS_Store

# Node / JS
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# React Native / Android
android/.gradle/
android/.idea/
android/app/build/
android/local.properties
android/app/.cxx/
*.iml

# React Native / iOS
ios/Pods/
ios/build/
*.xcworkspace
*.xcuserdatad
*.xcuserdata

# Metro / bundler / cache
.expo/
.expo-shared/
dist/
.cache/
